.body {
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes drawThick {
  0% {
    stroke-dashoffset: 180;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawThick {
  0% {
    stroke-dashoffset: 180;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes drawDots {
  0% {
    stroke-dashoffset: 60;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawDots {
  0% {
    stroke-dashoffset: 60;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes drawStatic {
  0% {
    stroke-dashoffset: 8;
  }
  30% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 8;
  }
}

@keyframes drawStatic {
  0% {
    stroke-dashoffset: 8;
  }
  30% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 8;
  }
}

@-webkit-keyframes rumble {
  0% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  35% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  45% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  55% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  65% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
}

@keyframes rumble {
  0% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  35% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  45% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  55% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  65% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotate3d(1, -1, 0, 0);
            transform: rotate3d(1, -1, 0, 0);
  }
  30% {
    -webkit-transform: rotate3d(1, -1, 0, 0deg);
            transform: rotate3d(1, -1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, -1, 0, 60deg);
            transform: rotate3d(1, -1, 0, 60deg);
  }
  100% {
    -webkit-transform: rotate3d(1, -1, 0, 0);
            transform: rotate3d(1, -1, 0, 0);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotate3d(1, -1, 0, 0);
            transform: rotate3d(1, -1, 0, 0);
  }
  30% {
    -webkit-transform: rotate3d(1, -1, 0, 0deg);
            transform: rotate3d(1, -1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, -1, 0, 60deg);
            transform: rotate3d(1, -1, 0, 60deg);
  }
  100% {
    -webkit-transform: rotate3d(1, -1, 0, 0);
            transform: rotate3d(1, -1, 0, 0);
  }
}

@-webkit-keyframes launch {
  5% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes launch {
  5% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  35% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  35% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.loadingWrap {
  text-align: center;
}

.loading {
  max-width: 150px;
  width: 100%;
}

.loading .background {
  fill: #102555;
}

.loading .rotate {
  -webkit-animation: rotate3d 1.5s 1;
          animation: rotate3d 1.5s 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.loading .rumble {
  -webkit-animation: rumble 1s infinite 0.5s;
          animation: rumble 1s infinite 0.5s;
}

.loading .arrow {
  -webkit-animation: launch 1.5s 1;
          animation: launch 1.5s 1;
  fill: #fff;
}

.loading .exhaust {
  -webkit-animation: slideIn 1.5s 1;
          animation: slideIn 1.5s 1;
}

.loading .gradient stop {
  stop-color: #fff;
  stop-opacity: 0.2;
}

.loading .gradient stop:last-child {
  stop-opacity: 0;
}

.loading .gradientBox {
  fill: url("#gradient");
}

.loading .filteredGroup {
  -webkit-filter: url("#stickyFilter");
          filter: url("#stickyFilter");
}

.loading .line {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  stroke: #dde1ee;
  stroke-linecap: round;
}

.loading .lineThick {
  -webkit-animation-name: drawThick;
          animation-name: drawThick;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.loading .lineDots {
  -webkit-animation-name: drawDots;
          animation-name: drawDots;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  stroke-dasharray: 0, 30;
  stroke-width: 5.5;
}

.loading .lineStatic {
  -webkit-animation-name: drawStatic;
          animation-name: drawStatic;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  stroke-dasharray: 22;
  stroke-width: 8;
}

.loading .line1 {
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  stroke-dasharray: 8, 22, 3, 27, 16, 14;
  stroke-width: 4;
}

.loading .line2 {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  stroke-dasharray: 18, 12, 10, 20, 3, 27;
  stroke-width: 6;
}

.loading .line3 {
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  stroke-dasharray: 3, 27, 10, 20, 20, 10;
  stroke-width: 4;
}

.loading .line4 {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.loading .line5 {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.loading .line6 {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.loading .line7 {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.labelTitle {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 1rem;
}

.labelText {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
}
/*# sourceMappingURL=Splash.css.map */